*.o
.deps/
autom4te.cache/
build-aux/
nbproject/
Makefile
config.log
config.status
config.h
send_irq
memory_test
Makefile.in
config.status
arm_simulator
aclocal.m4
send_irq
memory_test
gdb_commands
Makefile.in
Makefile.am
stamp-h1
